* {
    font-family: "Roboto", sans-serif;
}

@media (max-width: 430px) {
    body {
        text-align: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
}